# By default, use the 1Password SSH agent for all hosts
Host *
  IdentityAgent "{{ ssh_agent_socket }}"

Host github.com
  HostName github.com
  # Downloaded from 1Password App
  IdentityFile ~/.ssh/{{ personal_public_ssh_key if machine_type == 'personal' else work_public_ssh_key }}
  IdentitiesOnly yes

Host github-alt.com
  HostName github.com
  # Downloaded from 1Password App
{% if machine_type == "personal" %}
  IdentityFile ~/.ssh/{{ work_public_ssh_key }}
{% else %}
  IdentityFile ~/.ssh/{{ personal_public_ssh_key }}
{% endif %}
  IdentitiesOnly yes
